/* обнуляем все настройки по умолчанию */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* меняет подсчет ширины блока для удобства */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* убираем линии обводки у браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* делаем значения блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* уравниваем поведение шрифтов и элементов для разных браузеров */
html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
/* просим теги наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
  cursor: none;
}
/* убираем некоторые особенности в разных браузерах */
input::-ms-clear {
  display: none;
}
button {
  cursor: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* обнуляем заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------ */

.header {
  padding: 20px 50px;
  background-color: aquamarine;
}
.header__title {
  font-size: 35px;
  text-align: center;
}
.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.active {
  background-color: brown;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.351);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  background-color: rgb(255, 255, 255);
  width: 400px;
}
